{% extends "base_navbar.html" %}
{% load bootstrap3 %}

{% block navbar %}
		  {% if user.is_authenticated %}
		  <ul class="nav navbar-nav navbar-right">
		    <li id="nav-username"><a href="{% url 'sysMo.views.profile' %}">
		      <span class="glyphicon glyphicon-user"></span>  {{ user.get_username }} &nbsp; </a>
		    </li>
		    <li>
		      <a href="{% url 'django.contrib.auth.views.logout' %}">Sign out</a>
		    </li>
		  </ul>
		  {% endif %}
{% endblock navbar %}

{% block content%}
<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-tabs">
        <li class="{% block navtab-smoFluidProps %}{% endblock%}"><a data-toggle="tab" href="#sectionA">SmoFluidProps</a></li>
        <li class="{% block navtab-dataManagement %}{% endblock%}"><a data-toggle="tab" href="#sectionB">Data Management</a></li>
        <li class="{% block navtab-dataVisualization %}{% endblock%}"><a data-toggle="tab" href="#sectionC">Data Visualization</a></li>
    </ul>
    <div class="tab-content">
        <div id="sectionA" class="{% block tab-content-smoFluidProps %} tab-pane fade {% endblock %}">
            <h3>SmoFluidProps app goes here</h3>
            <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
        </div>
        <div id="sectionB" class="{% block tab-content-dataManagement %} tab-pane fade {% endblock %}">
            <h3>Data Management app goes here</h3>
            <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
        </div>
        <div id="sectionC" class="{% block tab-content-dataVisualization %} tab-pane fade {% endblock %}">
            {% block plots %}In pltafrom {% endblock plots %}
        </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block footer %}
<hr>
  <footer>
    <p> &nbsp;&nbsp; &copy; SysMo {% now "Y" %} </p>
  </footer>
{% endblock footer %}
