{% extends "sampleReport1base.html" %}
{% load static from staticfiles %}
{% load bootstrap3 %}


{% block keywordsTitle %}
Keywords title
{% endblock %}

{% block keywordsInfo %}
Test
{% endblock %}

{% block segmentationTitle %}
<h4>Benefits of segmentation </h4>
{% endblock %}

{% block segmentationInfo %}
<p>
Segmenting your customers into groups according to their needs has a number of advantages. It can help you to:
<li>identify your most and least profitable customers</li>
<li>focus your marketing on the customers who will be most likely to buy your products or services
avoid the markets which will not be profitable for you</li>
<li>build loyal relationships with customers by developing and offering them the products and services they want improve customer service</li>
<li>get ahead of the competition in specific parts of the market</li>
<li>use your resources wisely</li>
<li>identify new products</li>
<li>improve products to meet customer needs</li>
<li>increase profit potential by keeping costs down, and in some areas enabling you to charge a higher price for your products and services</li>
<li>group your customers by factors such as geographical location, size and type of organisation, type and lifestyle of consumers, attitudes and behaviour</li>
</p>
{% endblock %}